<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/static/site.css" rel="stylesheet">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
<div data-role="page" id="pageone">
<div data-role="header"><h1>FFL Team - RICHARD</h1></div>
<table id="league">
<tr><th>Player</th><th>Team</th><th>Total Points</th><th>Week Stats</th></tr>
<tr><td>Butland, J</td><td>STO</td><td>11</td><td><div data-role="collapsible"><h1>Expand</h1><p><table><tr><th>Wk</th><th>Against</th><th>Points</th></tr><tr><td>1</td><td>Liverpool</td><td>2</td></tr><tr><td>2</td><td>Tottenham</td><td>1</td></tr><tr><td>3</td><td>Norwich City</td><td>2</td></tr><tr><td>4</td><td>WBA</td><td>2</td></tr><tr><td>6</td><td>Arsenal</td><td>1</td></tr><tr><td>7</td><td>Leicester</td><td>1</td></tr><tr><td>8</td><td>Bournemouth</td><td>2</td></tr></table></p></div></td>
</tr>
<tr><td colspan=5>Defence</td></tr>
<tr><td>Kolarov, A</td><td>MCY</td><td>39</td><td><div data-role="collapsible"><h1>Expand</h1><p><table><tr><th>Wk</th><th>Against</th><th>Points</th></tr><tr><td>1</td><td>WBA</td><td>7</td></tr><tr><td>2</td><td>Chelsea</td><td>7</td></tr><tr><td>3</td><td>Everton</td><td>12</td></tr><tr><td>4</td><td>Watford</td><td>7</td></tr><tr><td>6</td><td>Palace</td><td>7</td></tr><tr><td>7</td><td>West Ham</td><td>0</td></tr><tr><td>8</td><td>Tottenham</td><td>-1</td></tr></table></p></div></td>
</tr>
<tr><td>Cresswell, A</td><td>WHM</td><td>30</td><td><div data-role="collapsible"><h1>Expand</h1><p><table><tr><th>Wk</th><th>Against</th><th>Points</th></tr><tr><td>1</td><td>Arsenal</td><td>7</td></tr><tr><td>2</td><td>Leicester</td><td>1</td></tr><tr><td>3</td><td>Bournemouth</td><td>2</td></tr><tr><td>4</td><td>Liverpool</td><td>10</td></tr><tr><td>6</td><td>Newcastle</td><td>7</td></tr><tr><td>7</td><td>Man City</td><td>2</td></tr><tr><td>8</td><td>Norwich City</td><td>1</td></tr></table></p></div></td>
</tr>
<tr><td>Johnson, G</td><td>STO</td><td>13</td><td><div data-role="collapsible"><h1>Expand</h1><p><table><tr><th>Wk</th><th>Against</th><th>Points</th></tr><tr><td>1</td><td>Liverpool</td><td>2</td></tr><tr><td>2</td><td>Tottenham</td><td>1</td></tr><tr><td>3</td><td>Norwich City</td><td>2</td></tr><tr><td>4</td><td>WBA</td><td>2</td></tr><tr><td>7</td><td>Leicester</td><td>1</td></tr><tr><td>8</td><td>Bournemouth</td><td>5</td></tr></table></p></div></td>
</tr>
<tr><td>Alderweireld, T</td><td>TOT</td><td>33</td><td><div data-role="collapsible"><h1>Expand</h1><p><table><tr><th>Wk</th><th>Against</th><th>Points</th></tr><tr><td>1</td><td>Man Utd</td><td>2</td></tr><tr><td>2</td><td>Stoke</td><td>1</td></tr><tr><td>3</td><td>Leicester</td><td>2</td></tr><tr><td>4</td><td>Everton</td><td>7</td></tr><tr><td>6</td><td>Sunderland</td><td>7</td></tr><tr><td>7</td><td>Palace</td><td>7</td></tr><tr><td>8</td><td>Man City</td><td>7</td></tr></table></p></div></td>
</tr>
<tr><td>Delaney, D</td><td>CRY</td><td>11</td><td><div data-role="collapsible"><h1>Expand</h1><p><table><tr><th>Wk</th><th>Against</th><th>Points</th></tr><tr><td>1</td><td>Norwich City</td><td>7</td></tr><tr><td>2</td><td>Arsenal</td><td>-2</td></tr><tr><td>3</td><td>Aston Villa</td><td>2</td></tr><tr><td>4</td><td>Chelsea</td><td>2</td></tr><tr><td>7</td><td>Tottenham</td><td>2</td></tr></table></p></div></td>
</tr>
<tr><td colspan=5>Midfield</td></tr>
<tr><td>Sigurdsson, G</td><td>SWA</td><td>21</td><td><div data-role="collapsible"><h1>Expand</h1><p><table><tr><th>Wk</th><th>Against</th><th>Points</th></tr><tr><td>1</td><td>Chelsea</td><td>2</td></tr><tr><td>2</td><td>Newcastle</td><td>2</td></tr><tr><td>3</td><td>Sunderland</td><td>1</td></tr><tr><td>4</td><td>Man Utd</td><td>5</td></tr><tr><td>6</td><td>Watford</td><td>2</td></tr><tr><td>7</td><td>Everton</td><td>2</td></tr><tr><td>8</td><td>Southampton</td><td>7</td></tr></table></p></div></td>
</tr>
<tr><td>Puncheon, J</td><td>CRY</td><td>21</td><td><div data-role="collapsible"><h1>Expand</h1><p><table><tr><th>Wk</th><th>Against</th><th>Points</th></tr><tr><td>1</td><td>Norwich City</td><td>8</td></tr><tr><td>2</td><td>Arsenal</td><td>2</td></tr><tr><td>3</td><td>Aston Villa</td><td>4</td></tr><tr><td>4</td><td>Chelsea</td><td>2</td></tr><tr><td>6</td><td>Man City</td><td>2</td></tr><tr><td>7</td><td>Tottenham</td><td>2</td></tr><tr><td>8</td><td>Watford</td><td>1</td></tr></table></p></div></td>
</tr>
<tr><td>Mahrez, R</td><td>LEI</td><td>50</td><td><div data-role="collapsible"><h1>Expand</h1><p><table><tr><th>Wk</th><th>Against</th><th>Points</th></tr><tr><td>1</td><td>Sunderland</td><td>12</td></tr><tr><td>2</td><td>West Ham</td><td>7</td></tr><tr><td>3</td><td>Tottenham</td><td>7</td></tr><tr><td>4</td><td>Bournemouth</td><td>2</td></tr><tr><td>6</td><td>Aston Villa</td><td>11</td></tr><tr><td>7</td><td>Stoke</td><td>9</td></tr><tr><td>8</td><td>Arsenal</td><td>2</td></tr></table></p></div></td>
</tr>
<tr><td colspan=5>Attack</td></tr>
<tr><td>Walters, J</td><td>STO</td><td>18</td><td><div data-role="collapsible"><h1>Expand</h1><p><table><tr><th>Wk</th><th>Against</th><th>Points</th></tr><tr><td>1</td><td>Liverpool</td><td>2</td></tr><tr><td>2</td><td>Tottenham</td><td>2</td></tr><tr><td>7</td><td>Leicester</td><td>7</td></tr><tr><td>8</td><td>Bournemouth</td><td>7</td></tr></table></p></div></td>
</tr>
<tr><td>Deeney, T</td><td>WAT</td><td>25</td><td><div data-role="collapsible"><h1>Expand</h1><p><table><tr><th>Wk</th><th>Against</th><th>Points</th></tr><tr><td>1</td><td>Everton</td><td>4</td></tr><tr><td>2</td><td>WBA</td><td>2</td></tr><tr><td>3</td><td>Southampton</td><td>2</td></tr><tr><td>4</td><td>Man City</td><td>2</td></tr><tr><td>6</td><td>Swansea</td><td>5</td></tr><tr><td>7</td><td>Newcastle</td><td>8</td></tr><tr><td>8</td><td>Palace</td><td>2</td></tr></table></p></div></td>
</tr>
</table>
<a href="/">BACK</a>
<div data-role="footer">
<h4>Please report all errors to Tal,Mandeep & Suleman.
 For now the spreadsheet is the golden source</h4>
</div>
</div>
</body>
</html>
